

}

.column h2 {
  font-family: monospace, sans-serif;
  text-align: center;
}

.column p {
  height: 50%;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
}

.column img {
  width: 222.47px;
  height: 334.27px;
  display: block;
  margin: 0 auto;
}

.desc {
  color: red;
  font-size: 36px;

}

body{
  text-align: center;
  background-color: #d1fff0;
}

#cat2 {
  width: 222.47px;
  height: 100%;
  margin-bottom: 1px;
  display: block;
  margin: 0 auto;
}



@media screen and (min-width: 1000px) {
  .column {
    padding: 20px;

    width: 18%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;




  }
}

@media screen and (max-width: 999px) and (min-width: 700px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 699px) {
  body {
    background-color: white;
    color: red;
  }
}
